html, body, *, *:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/*calendar*/

.calendarBox {
  width: 350px;
  height: 350px;
  border: 2px solid #9ba4b4;
  background-color: white;
  border-radius: 30px;
  margin-top: 80px;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
}

#calTable {
  width: 300px;
  height: 300px;
  text-align: center;
}

.todayColor {
  background-color: #9ba4b4;
  border-radius: 50%;
}

thead button {
  font-size: 25px;
  background-color: white;
  color:  #707070;
  border: none;
}
